<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCrBh94j7jBGzxepk1AXQIJGtzKLaEX2U</string>
	<key>GCM_SENDER_ID</key>
	<string>13729217659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.com.example.testsampleproject</string>
	<key>PROJECT_ID</key>
	<string>flutter-training-629fe</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-training-629fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13729217659:ios:3179bf150621664612f6de</string>
</dict>
</plist>